block footer 
    //- Footer
    footer#main-footer.footer 
        .footer__inner.bg-dark.pt-5.pb-5
            .container 
                .row.flex-wrap.align-items-center.justify-content-center
                    .footer__nav-logo.flex.flex-wrap.justify-content-center.align-items-center.col-xl-12.col-sm-12.col-12
                        a(href="./index.html").header__logo
                            img.in-svg(src="./images/crowne-plaza-endorsed-logo-White-rgb-Belfast.svg", alt="" height="102" width="204")