block header
    //- Header
    header#main-header.header 
        .header__inner
            .container 
                .row 
                    .col
                        nav.nav.flex.flex-wrap.justify-content-center
                            .header__nav-logo.flex.flex-wrap.justify-content-center.align-items-center.col-xl-12.col-sm-12.col-12
                                a(href="./index.html").header__logo
                                    img.in-svg(src="./images/crowne-plaza-endorsed-logo-White-rgb-Belfast.svg", alt="" height="102" width="204")