extends _layout.pug
//- CSS Links
block csslinks
    link(rel="stylesheet", href="./css/home.css")
//- Main Body Part
block content
    h1 We’re 120+ individuals from across the world driven by bold ideas and diverse perspectives. Craft, service, and efficiency drive us forward and we see our agency as a place for our shared values to collide.
    h2 BASIC/DEPT® is a global agency that thrives at the intersection of design, data, and technology. Together, we’re focused on transforming brands and culture — across the world.
//- JS Links
block jslink 
    script(src="./js/home.js") 