@use 'sass:map'

// For Font mixin
@mixin font-face($font-name, $font-path, $font-style, $font-weight)
	@font-face
		font-family: $font-name
		font-style: $font-style
		font-weight: $font-weight
		src: url('#{$font-path}.eot'), url('#{$font-path}.eot?#iefix') format('embedded-opentype'), url('#{$font-path}.woff2') format('woff2'), url('#{$font-path}.woff') format('woff2'), url('#{$font-path}.ttf') format('truetype'), url('#{$font-path}.svg#Inter-Bold') format('svg')

// min-width media query array
$m-breakpoints: (sm:576px, md:768px, lg:992px, xls:1200px, xl:1280px, xxl:1440px, xxxl: 1800px)

// max-width media query array
$mx-breakpoints: (sm:575px, md:767px, lg:991px, xls:1199px, xl:1279px, xxl:1439px, xxxl: 1679px)

// container array
$container-width: (sm: 100%, md: 46.875rem, lg: 56.25rem, xls: 67.5rem, xl: 72.5rem, xxl: 82.5rem, xxxl: 105rem)

// For min-width mixin
@mixin mmq($key)
	$size: map.get($m-breakpoints, $key)
	@media (min-width: $size)
		@content

// For max-width mixin
@mixin mxmq($key)
	$size: map.get($mx-breakpoints, $key)
	@media (min-width: $size)
		@content
			
// For Margin and Padding mixin
@mixin generate($prefix, $property) 
	$sizes: [0, .25, .5, 2, 3.75, 5.625, 7.5, 9.375]
	$spacing: 1rem
	@for $i from 1 through length($sizes) 
		$size: nth($sizes, $i)
		.#{$prefix}-#{$i - 1} 
			#{$property}: $spacing * $size
